/* colors */

:root {
  --orange: #d19124;
  --green: #84b814;
  --yellow: #f0d805;
}

.bg-orange {
  background-color: var(--orange);
}

.bg-yellow {
  background-color: var(--yellow);
}

.bg-green {
  background-color: var(--green);
}

.text-orange {
  color: var(--orange);
}

.text-yellow {
  color: var(--yellow);
}

.text-green {
  color: var(--green);
}

.orange-border {
  border: solid 2px var(--orange);
  border-radius: 50px;
}

.img-bw {
  filter: grayscale(100%);
}

/* sizing */

.w-20vw {
  width: 20vw;
}

.w-40vw {
  width: 40vw;
}

.h-20vh {
  height: 20vh;
}

.minh-100 {
  min-height: 100vh;
}

/* typography */

.milonga {
  font-family: 'Milonga', serif;
}

.calibri {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

.comic-sans {
  font-family: "Comic Sans MS", "Comic Sans", sans-serif;
}

.text-2rem {
  font-size: 2rem;
}

.text-1rem {
  font-size: 1rem;
}

.text-3\/4rem {
  font-size: 0.75rem;
}

/* full-styles */

.multiple-choice-btn {
  width: 100vw;
  min-height: 10vh;
  border: none;
  font-size: 50px;
}

/* dom restyling */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

